.star {
    color: mediumvioletred;
}

a {
    color: white;
}

.navbar-nav {
    margin-left: auto;
}

.search-menu {
    margin-left: 0 !important;
}

.dropdown-list {
    margin-left: 30vw;
}
a:hover {
    color: gray;
    text-decoration: none;
}