<section id="Banner" class="masthead">
  <div class="container my-auto">
      <div class="banner-content">
    <div class="row text-white text-center">
      <div class="col-12">
        <p class="font-weight-light">we combine design, thinking and technical craft</p>
        <h1 class="mb-5 text-uppercase font-weight-700 width-75 md-width-100 center-col">
          Restaurant
          <br>
          Photography
        </h1>
      
      </div>
      </div>
      <div class="row text-center text-white">
      <div class="links col-lg-12 col-md-12 col-sm-12">
        <ul class="linksUl list-inline large-icon">
          <li class="list-inline-item">
            <a href="">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fab fa-google-plus-g"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fab fa-dribbble"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
</section>

<section id="one">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center oneContent">
      <p class="text-muted small text-uppercase">
        about photography project
      </p>
      <h2 class="mt-2 textOne">Once you learn to care, you can record images with your mind or on film. There is no difference between the two.</h2>
    </div></div>
  </div>
</section>

<section id="two">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-4 bg-dark text-white colOne no-gutter p-0 px-3">
          <h3 class="mb-3 mt-5 p-3">
            About photography
          </h3>
          <p class="text-muted lead small mx-3 pr-5 pb-5">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.
          </p>
          <button class="btn text-uppercase mx-3 mb-5">More Photos</button>
        </div>
        <div class="col-md-4 col-lg-4 no-gutter p-0">
          <img [src]="'assets/grid-one.jpg'" class="gridImg" alt="">
        </div>
        <div class="col-md-4 col-lg-4 no-gutter p-0">
          <img [src]="'assets/grid-two.jpg'" alt="" class="gridImg">
        </div>
    </div>
  </div>
</section>

<section id="three">
  <div class="container">
    <div class="row p-5">
        <div class="col-lg-6">
            <h2 class="quote">
                A tear contains an ocean. A photographer is aware of the tiny moments in a persons life that reveal greater truths.
              </h2>
              <p class="text-muted">
                - Paul Rand / Creative Director
              </p>
        </div>
        <div class="col-lg-6">
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam nobis minima eum veniam ea sint totam quo aperiam eveniet reiciendis, quisquam cum optio accusantium error, inventore suscipit? Ipsa minima ex quibusdam sequi id illum tenetur. Provident reprehenderit accusamus consequuntur sequi sed veritatis beatae dolores voluptatum, delectus tempore dolor placeat repudiandae?</p>
        </div>
    </div>
  </div>
</section>

<section id="card">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 p-5 card mx-auto">
        <div class="card-content col-lg-8 mx-auto">
        <p class="text-muted text-uppercase small">
          About restaurants photography
        </p>
        <h2 class="cardText pb-3">
          Taking an image, freezing a moment, reveals how rich reality truly is.
        </h2>
        <p class="text-muted small">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi sint voluptate fugiat qui. Totam neque eligendi quo iste? Aspernatur optio quo blanditiis, quia odit debitis fugit labore dolore recusandae dolorem libero? Dolorum minima fugiat impedit, error quam tempora accusantium. Soluta.
        </p>

        <button class="bg-dark btn text-white text-uppercase">Explore Photography</button>
      </div></div>
    </div>
  </div>
</section>

<section id="four">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 mx-auto">
        <p class="text-muted small text-uppercase pt-5">Our Recent Works</p>
        <h2 class="fourText">New stunning projects for our amazing clients</h2>
      </div>
    </div>
  </div>
</section>